<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="pt-br">
<meta charset="utf-8" />
<head>
<title>Lança EPI</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="materialize/css/style.css" />
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper nav-bar">
				<a href="#" class="brand-logo">Cadastro de Epi </a>


			</div>
		</nav>
	</header>

	<form class="container CadastroEpi" method="post">
		<div class="row">
			<div class="input-field col s4">
				Coligada:<input type="text" value="" list="Col" name="coligada" /><br />
				
				<datalist id="Col">

					<option value='1' label="CORPUS">
					<option value='3' label="ECOMARK">
					<option value='4' label="CSO">
					<option value='6' label="RMCC">
					<option value='7' label="SOTKON">
				</datalist>

			</div>
			<div class="input-field col s4">
				Centro de custo: <input type="text" value="" name="centrocusto" /><br />
			</div>
			<div class="input-field col s4">
				Código da função: <input type="text" value="" name="codigofuncao" /><br />
			</div>
			<div class="input-field col s4">
				Código EPI: <input type="text" value="" name="idproduto" /><br />
			</div>
			<div class="input-field col s4">
				Duração: <input type="text" value="" name="diasduracao" /><br />
			</div>
			<div class="input-field col s4">
				Qtde de Retirada: <input type="text" value=""
					name="quantidaderetirada" /><br />
			</div>
			<div class="input-field col s4">
				Qtde de Troca: <input type="text" value="" name="quantidadetroca" /><br />
			</div>
			<div class="input-field col s4">
			
				Tipo:<input type="text" value="" list="ListCat" name="tipo" /><br />				
				<datalist id= "ListCat">
				<option th:each= "ListCat : ${ListCat}"				
				th:value="${ListCat.nome_categoria}"
				th:text="${ListCat.id}">				
				</datalist>
				
			
				
			
				
</div>
<div class="input-field col s4" >
				Tamanho: <input type="text" value="" name="tamanho" /><br /> <br />
			</div>



		</div>

		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li>
				<button class="btn waves-effect waves-light botao " type="submit"
					name="action">
					Salvar <i class="material-icons right">send</i>
				</button> <a href="/homePage" class="btn waves-effect waves-light botao "><i
					class="material-icons right">cancel</i>Cancelar</a>
			</li>

		</ul>



	</form>

</body>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="materialize/js/custom.js"></script>

</html>